
/* General Styling */
body{
  font-family: "Work Sans";
}

header{
  text-align: center
}

.wrapper {
  width: 1600px;
  margin: auto;
}
/* 
.view {
  width: 800px;
  display: inline-block;
  float: left;
}  */

.innerWrapper {
  width: 830px;
  display: inline-block;
  float: left;
}
/* Kimberly tree styling */
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

/* Tree Styling 

.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
} */

form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  left: 10px;
  top: 10px;
}

label {
  display: block;
}

/* Heat Map Styling */

#heatmap{
  width: 800px;
  display: block
}

/* Stacked Bar Chart Styling */

#stacked-barchart{
  width: 600px;
  display: inline-block;

}

