

/* General Styling */
body{
  font-family: "Work Sans";
}

header{
  text-align: center;
  background: #ffbb78;
  color: white;
}

header h1{
  text-shadow: 2px 2px black;
}
header h2{
  color: #36454f;
}

header div{
  color: black;
}
label {
  font-family: "Work Sans";
  font-weight: bold;
}

.wrapper {
  width: 1600px;
  margin: auto;
}

.innerWrapper {
  width: 900px;
  display: inline-block;
  float: left;
}
.innerWrapperRight {
  width: 700px;
  display: inline-block;
  float: left;
}
.innerWrapperBottomLeft {
  width: 880px;
  display: inline-block;
  float: left;
}
.innerWrapperBottomRight {
  width: 700px;
  display: inline-block;
  float: right;
}
.innerWrapperBottomSection
{
  width: 1600px;
  display: inline-block;
  float: left;
}

.phylo_text{
  height: 150px;
  width: 880px;
  background:lightgrey;
  padding: 2px;
  border-radius: 8px;
}

.stack_text{
  height: 150px;
  width: 700px;
  background:lightgrey;
  padding: 2px;
  border-radius: 8px;
}

.heat_text{
  height: 150px;
  width: 880px;
  background:lightgrey;
  padding: 2px;
  border-radius: 8px;
}

.violin_text{
  height: 150px;
  width: 700px;
  background:lightgrey;
  padding: 2px;
  border-radius: 8px;
}

.saved_genes_text{
  height: auto;
  width: 700px;
  background:lightgrey;
  padding: 2px;
  border-radius: 8px;
}

.acknowlege_text{
  height: auto;
  width: 1600px;
  background:lightgrey;
  padding: 2px;
  border-radius: 8px;
}


/* Kimberly tree styling */
#Phylo{
  width: 900px;
  height: 800px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1px;
}

.node text {
  font-size: 14px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

form {
  font-family: "Work Sans";
  position: absolute;
  left: 10px;
  top: 10px;
}

label {
  display: block;
}

/* Heat Map Styling */

#heatmap{
  width: 880px;
  height: 900px;
  float: left;
  overflow-y: scroll;
  overflow-x: scroll;
}

#violinplot{
  /* width: 650px;
  height: 400px;
  float: right; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* Stacked Bar Chart Styling */

#stacked-barchart{
  width: 700px;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: scroll;

}

.stack-svg{
  margin-top: 50px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  min-width: 100px;
  width: auto;
  height: auto;
  padding: 6px;
  background: white;
  stroke: gray;
  border-radius: 8px;
  pointer-events: none;
}

.tooltip h1{
  margin: auto;
  font-size: 24px;
  font-family: "Work Sans";
  font-weight: lighter;

}

.tooltip h2 {
  margin: auto;
  font-size: 16px;
  font-family: "Work Sans";
  font-weight: lighter;
}

.legend-svg{
  margin-top: 52px;
  float:right;
  overflow: scroll;
}

input[type='radio'] { 
  float: left;
  margin-left:20px;
  margin-right:20px;
  
}

h1, h2, h3, h4, h5, h6{
  margin-top:10px;
  margin-bottom:5px;
}

/* Sunburst Styling */
.sunburst-svg{
  margin-top: 45px;
}

