
/* General Styling */
body{
  font-family: "Work Sans";
}

header{
  text-align: center;
  background: #ffbb78;
  color: white;
}

header h1{
  text-shadow: 2px 2px black;
}

header div{
  color: black;
}

.wrapper {
  width: 1600px;
  margin: auto;
}

.innerWrapper {
  width: 830px;
  display: inline-block;
  float: left;
}

.phylo_text{
  background:lightgrey;
  padding: 2px;
  border-radius: 8px;
}

.stack_text{
  background:lightgrey;
  padding: 2px;
  border-radius: 8px;
}

.heat_text{
  background:lightgrey;
  padding: 2px;
  border-radius: 8px;
}


/* Kimberly tree styling */
#Phylo{
  width: 700px;
  height: 1000px;
  overflow-y: scroll;
  overflow-x: scroll;
}
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1px;
}

.node text {
  font-size: 14px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

form {
  font-family: "Work Sans";
  position: absolute;
  left: 10px;
  top: 10px;
}

label {
  display: block;
}

/* Heat Map Styling */

#heatmap{
  width: 1500px;
  height: 1500px;
  float: left;
  overflow: scroll;
}


/* Stacked Bar Chart Styling */

#stacked-barchart{
  width: 700px;
  display: inline-block;

}

div.tooltip {
  position: absolute;
  text-align: center;
  min-width: 100px;
  width: auto;
  height: auto;
  padding: 6px;
  background: white;
  stroke: gray;
  border-radius: 8px;
  pointer-events: none;
}

.tooltip h1{
  margin: auto;
  font-size: 24px;
  font-family: "Work Sans";
  font-weight: lighter;

}

.tooltip h2 {
  margin: auto;
  font-size: 16px;
  font-family: "Work Sans";
  font-weight: lighter;
}
